@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Gloria+Hallelujah&family=Homemade+Apple&family=Nanum+Brush+Script&family=Permanent+Marker&family=Sedgwick+Ave&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Nanum Brush Script', cursive; */
    /* font-family: 'Homemade Apple', cursive; */
    line-height: 1.2rem;
}
chitrkatha-page, .chitrkatha-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
    background: #FFD700;
}
header {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;
}

h3, .strip-title{
    font-family: 'Amatic SC', cursive;
}

h4,
h5,
h6 {
    font-family: 'Permanent Marker', cursive;
}

main {
    margin-bottom: 100px;
}
.logo {
    font-family: 'Bangers', cursive;
    font-size: 8rem;
    line-height: 8rem;
    border-bottom: 25px solid aqua;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo-chitrkatha img{
    filter: drop-shadow(0 25px 1.75rem rgba(0,0,0,0.5));

}
[data-layout='grid'] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    grid-gap: 20px;
}
[data-layout='grid'] img {
    max-height: 200px;
}
.grid[data-layout='frame'] {
    display: flex;
}
[data-layout='hero'] {
    text-align: center;
    max-width: 500px;
}

[data-layout='hero'] h2 {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    line-height: 3.2rem;
}
[data-layout='hero'] nav ul {
    font-family: 'Amatic SC', cursive;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

[data-layout='hero'] nav a{
    background: red;
    color: white;
    padding: 5px 10px;
}

chitrkatha-footer, .chitrkatha-footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.comics-strip {
    text-align: center;
}

.comics-strip img {
    max-width: 100%;
}

.strip-title {
    font-size: 2rem;
}

footer {
    /* position: sticky;
    bottom: 0; */
    /* background: white; */
    border-top: 5px solid black;
    text-align: center;
}

.pagination {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.pagination li {
    width: 30px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.pagination li.active {
    border: 1px dotted aqua;
}
